a:link {
color: #c35300;
}
a:visited {
color: #71a62a;
}
a:hover {
color: #ff903f;
}

h2 {
  color: #006600;
}

h4 {
  font-weight: bold;
  color: #5A6056;
}

<style>
  .col2 {
    columns: 2 200px;         /* number of columns and width in pixels*/
    -webkit-columns: 2 200px; /* chrome, safari */
    -moz-columns: 2 200px;    /* firefox */
  }
  .col3 {
    columns: 3 100px;
    -webkit-columns: 3 100px;
    -moz-columns: 3 100px;
  }
</style>